body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
  box-sizing: border-box;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
#NavBar {
  background-color: white;
  align-items: center;
  height: 56px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 16px 0px 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 99%;
}
#Nav1 {
  display: flex;
  align-items: center;
}
#menu {
  display: none;
  width: 40px;
  margin-right: 5px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}
#menu > img {
  position: relative;
  width: 20px;
}
#menu2 {
  width: 40px;
  margin-right: 5px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}
#menu2 > img {
  position: relative;
  width: 20px;
}

#logo > span {
  font-size: 10px;
  position: relative;
  top: -35px;
  left: -20px;
  color: gray;
}
#logo > img {
  width: 120px;
}
#Nav2 {
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
}
#searchBox {
  font-size: 16px;
  width: 80%;
  height: 73%;
  border: solid rgb(219, 216, 216) 0.3px;
  border-right: none;
  outline: none;
  box-sizing: border-box;
  padding: 0px 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#searchBox:focus {
  border: solid blue 0.4px;
}
#searchIcon {
  background-color: whitesmoke;
  width: 64px;
  height: 71%;
  border: solid rgb(219, 216, 216) 0.3px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgb(39, 38, 38);
}
#searchIcon:hover {
  background-color: #e4e4e4;
}
#searchIcon > img {
  width: 20px;
}
#voiceSearch {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: rgb(29, 27, 27);
  margin-left: 10px;
  border-radius: 50%;
  background-color: whitesmoke;
}
#Nav3 {
  display: flex;
  align-items: center;
  width: 14%;
  justify-content: space-between;
}
#notification {
  position: fixed;
  top: 14px;
  right: 84px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  padding: 0px 4px;
  background-color: #cc0000;
}
#shortsIcon > img {
  background: none;
  width: 22px;
}
#gridIcon {
  display: grid;
  width: 20px;
  height: 20.1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#gridIcon > div {
  width: 1.5px;
  height: 1.5px;
  border: solid 1.6px;
}
#bellIcon {
  width: 21px;
}
#bellIcon > img {
  width: 21px;
}
#profileIcon {
  overflow: hidden;
}
#profileIcon > img {
  position: relative;
  right: 2px;
  width: 45px;
}
#BelowNavBar {
  display: flex;
  margin-top: 56px;
}
#MenuContainer {
  font-size: 14px;
  background-color: white;
  position: fixed;
  width: 15.8vw;
  left: 0;
  height: 91.9vh;
  overflow-y: scroll;
  box-sizing: border-box;
}
#MenuContainer::-webkit-scrollbar {
  width: 8px;
  box-sizing: border-box;
}
#MenuContainer::-webkit-scrollbar-button {
  width: 0;
  height: 5px;
}
#MenuContainer::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: gray;
  border-radius: 10px;
}
#MenuContainer:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
#MenuContainer > div {
  margin-right: 5px;
  padding: 10px 0px;
  border-bottom: solid rgb(214, 210, 210) 0.5px;
}
#MenuContainer > div > div {
  cursor: pointer;
  display: flex;
  height: 40px;
  box-sizing: border-box;
  padding: 0px 30px;
  align-items: center;
}
#MenuContainer > :nth-child(1) > :nth-child(1) {
  background-color: rgb(230, 230, 230);
  font-weight: 500;
}
#MenuContainer > :nth-child(1) > :nth-child(1):hover {
  background-color: #c6c6c6;
}
#MenuContainer > div > div:hover {
  background-color: #f0f0f0;
}
#MenuContainer > div > div > img {
  width: 22px;
  height: 22px;
  margin-right: 25px;
}
#MenuContainer2 {
  background-color: white;
  position: fixed;
  width: 5%;
  left: 0;
  height: 91.9vh;
  text-align: center;
  font-size: 10px;
  display: none;
  background-color: white;
}
#MenuContainer2 > div {
  cursor: pointer;
  height: 74px;
  box-sizing: border-box;
  padding-top: 13px;
}
#MenuContainer2 > div:hover {
  background-color: #f0f0f0;
}
#MenuContainer2 img {
  width: 22px;
  margin-bottom: 5px;
}
#VideoContainer {
  width: 84.2vw;
  margin-left: 15.8vw;
}
#suggestion {
  width: 99%;
  height: 56px;
  position: fixed;
  top: 55px;
  border-top: solid 0.5px rgb(195, 188, 188);
  background-color: white;
  z-index: 1;
  opacity: 99%;
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 0px 0px 20px;
}
#suggestion > div {
  z-index: 3;
  border: solid rgb(207, 205, 205) 0.5px;
  background-color: #f0f0f0;
  height: 32px;
  padding: 0px 10px;
  line-height: 32px;
  border-radius: 20px;
  margin-right: 15px;
  font-size: 16px;
  cursor: pointer;
}
#suggestion > :nth-child(1) {
  background-color: black;
  color: rgb(241, 237, 237);
}
#suggestion > :nth-child(1):hover {
  background-color: black;
  color: rgb(241, 237, 237);
}
#suggestion > div:hover {
  background-color: #e4e4e4;
}
#suggestion::-webkit-scrollbar {
  height: 0px;
}
#videos {
  margin-top: 57px;
  width: 99.6%;
  border-top: solid 0.5px rgb(195, 188, 188);
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
}
#videos > div {
  cursor: pointer;
}
#videos > div > :nth-child(1) {
  border-radius: 2px;
}
#videos > div > :nth-child(2) {
  display: flex;
  height: 114px;
}
#videos > div > :nth-child(2) > :nth-child(1) {
  width: 15%;
  box-sizing: border-box;
  padding-top: 45px;
}
#videos > div > :nth-child(2) > :nth-child(1) img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
#videos > div > :nth-child(2) > :nth-child(2) {
  width: 80%;
  box-sizing: border-box;
  padding: 0px 5px;
}
#videos > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
  max-height: 40px;
  overflow: hidden;
}
#videos > div > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  font-size: 12px;
  margin: 0;
  color: #606060;
}
#videos > div > :nth-child(2) > :nth-child(2) > :nth-child(3) {
  font-size: 12px;
  margin: 0;
  margin-top: 4px;
  color: #606060;
}
#videos > div > :nth-child(2) > :nth-child(3) {
  width: 5%;
}
#videos > div > :nth-child(3) {
  height: 0px;
  text-align: end;
}
#videos > div > :nth-child(3) > div {
  position: relative;
  top: -139px;
  right: 4px;
  font-size: 12px;
  display: inline;
  border-radius: 2px;
  background-color: #000000cc;
  color: white;
  padding: 3px 4px;
  height: 12px;
}
#imageDiv {
  width: 100%;
  height: 169px;
  overflow: hidden;
}
#videos img {
  position: relative;
  top: -30px;
  width: 100%;
  height: 230px;
}
